appdirs==1.4.0
hupper==0.4.2
jinja2==2.9.5
-e git+https://github.com/christyheaton/learning-journal.git@cf96c2b6dcf83a7b4a1f1879be5aec9fc4496f28#egg=learning_journal
mako==1.0.6
markupsafe==0.23
packaging==16.8
passlib==1.7.1
PasteDeploy==1.5.2
psycopg2==2.6.2
pygments==2.2.0
pyparsing==2.1.10
pyramid==1.8.2
pyramid-debugtoolbar==3.0.5
pyramid-jinja2==2.7
pyramid-mako==1.0.2
pyramid-tm==1.1.1
repoze.lru==0.6
six==1.10.0
sqlalchemy==1.1.5
transaction==2.1.0
translationstring==1.3
venusian==1.0
waitress==1.0.2
WebOb==1.7.1
wtforms==2.1
zope.deprecation==4.2.0
zope.interface==4.3.3
zope.sqlalchemy==0.7.7
