{% extends 'layout.jinja2' %}
{% block body %}
  <article>
    <h1>{{ entry.title }}</h1>
    <hr/>
    <p>{{ entry.body }}</p>
    <hr/>
    <p>Created <strong title="{{ entry.created }}">{{entry.created}}</strong></p>
  </article>
  <a class="btn btn-primary" role="button" href="{{ request.route_url('action', action='edit', id=id) }}">
    <span class="glyphicon glyphicon-pencil"></span>
    Edit Entry
  </a>
{% endblock %}
